*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-bg: grey;
  --header-col: hsl(0, 0%, 100%);

  --section-form-bg: hsl(0, 0%, 75%);
  --section-form-col: hsl(0, 0%, 100%);

  --section-current-bg: rgb(153, 151, 151);
  --section-current-col: hsl(0, 0%, 100%);

  --divs-current-bg: hsl(0, 1%, 39%);
  --divs-current-col: hsl(0, 0%, 100%);

  --footer-bg: grey;
  --footer-col: hsl(0, 0%, 100%);
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  justify-items: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  /* background-color: grey; */
  /* border: 1px solid red; */
}

.page-header,
.page-main,
.page-footer {
  height: 100%;
  width: 100%;
  /* border: 1px solid blue; */
}

/* header ============================================ */
.page-header {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--header-col);
  background-color: var(--header-bg);
}

.header-main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-main {
  /* border: 1px solid red; */
}

/* main content ===================================== */
.container {
  /* border: 1px solid green; */
  width: 100%;
  height: 100%;
}

.section-form,
.section-current,
.section-forecast-day,
.section-forecast-week {
  padding: 1rem;
  /* border: 1px solid red; */
}

.section-form {
  color: var(--section-form-col);
  background-color: var(--section-form-bg);
}

.form-element {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  /* border: 1px solid black; */
}

.input-search-label {
  font-size: 1rem;
  /* border: 1px solid red; */
}

.input-search {
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  /* border: 1px solid red; */
}

.submit-btn {
  padding: 0.4rem 0.5rem;
  font-size: 1rem;
  border: none;
  color: white;
  background-color: hsl(219, 83%, 41%);
  transition: background-color 0.3s ease;
}

/* main content */
.section-current {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;

  color: var(--section-current-col);
  background-color: var(--section-current-bg);
  /* border: 5px solid red; */
}

.div-current-location-info {
}

.address {
  font-size: 2rem;
}

.card-current {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.5fr;
  gap: 1rem;
  /* border: 2px solid red; */
}

.div-current-date,
.div-current-img,
.div-current-temperature,
.div-current-wind-humidity,
.div-current-description {
  padding: 1rem;
  border-radius: 4px;
  color: var(--divs-current-col);
  background-color: var(--divs-current-bg);
  /* border: 1px solid red; */
}

.div-current-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  /* color: blue; */
}

.current-span-date {
  /* border: 1px solid red; */
}

.current-span-time {
  /* border: 1px solid red; */
}

.current-span-day {
  /* border: 1px solid red; */
}

.div-current-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  /* background-color: hsl(207, 96%, 55%); */
}

.current-weather-icon {
  filter: invert(1);
  width: 100px;
  height: 100px;
}

.current-weather-conditions {
}

.div-current-temperature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.temp-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.feel-temp-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.current-temp {
  /* color: red; */
}

.current-feel-temp {
  /* color: blue; */
}

.div-current-wind-humidity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* border: 1px solid red; */
}

.wind-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  /* border: 1px solid blue; */
}

.humidity-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  /* border: 1px solid green; */
}

.current-wind {
  /* border: 1px solid red; */
}

.current-humidity {
  /* border: 1px solid red; */
}

.div-current-description {
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* footer =========================================== */
.page-footer {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  color: var(--footer-col);
  background-color: var(--footer-bg);
}

.footer-header {
}

.footer-ul {
  display: flex;
  gap: 1em;
  list-style-type: none;
}

.list-item {
  /* border: 1px solid red; */
}
.social-link {
  color: white;
  transition: color 0.3s ease;
}

.link-sololearn {
  filter: hue-rotate(0deg) saturate(1) brightness(1);
  transition: filter 1s ease;
}

.logo-sololearn {
  height: 30px;
  width: 30px;
}

@media (hover: hover) {
  .submit-btn:hover {
    cursor: pointer;
    /* background-color: hsl(219, 83%, 50%); */
    background-color: deeppink;
  }

  .input-search:hover {
    cursor: pointer;
  }

  .social-link:hover {
    color: deeppink;
  }

  .link-sololearn:hover {
    filter: hue-rotate(300deg) saturate(3) brightness(1.1);
  }
}
