/* @import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Rajdhani", sans-serif;
  font-optical-sizing: auto;
}

:root {
  --header-bg: hsl(0, 0%, 0%);
  --header-col: hsl(0, 0%, 100%);

  --section-form-bg: hsl(0, 0%, 0%);
  --section-current-bg: hsl(0, 0%, 0%);

  --divs-current-bg: hsla(0, 0%, 44%, 0.2);
  --divs-current-col: hsl(0, 0%, 100%);

  --footer-bg: hsl(0, 0%, 0%);
  --footer-col: hsl(0, 0%, 100%);

  --border-col: hsl(0, 0%, 29%);
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  justify-items: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.page-header,
.page-main,
.page-footer {
  height: 100%;
  width: 100%;
}

/* header ============================================ */
.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--header-col);
  background-color: var(--header-bg);
}

.header-main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-main {
  /* border: 1px solid red; */
  background-color: hsl(0, 0%, 0%);
}

/* main content ===================================== */
.container {
  width: 100%;
  height: 100%;
  border-top: 1px solid var(--border-col);
  border-bottom: 1px solid var(--border-col);
}

.section-form,
.section-current {
  padding: 1rem;
  /* border: 1px solid red; */
}

.section-form {
  border-bottom: 1px solid var(--border-col);
  background-color: var(--section-form-bg);
}

.form-element {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 0.2rem; */
  /* border: 1px solid black; */
}

.input-search-label {
  font-size: 1.4rem;
  font-weight: bold;
}

.input-search {
  padding: 0.4rem 0.5rem;
  font-size: 1rem;
  border-radius: 8px 0 0 8px;
  border: none;
  background-color: hsla(0, 0%, 41%, 0.4);
}

.input-search::placeholder {
  color: hsl(0, 0%, 100%);
}

.submit-btn {
  padding: 0.4rem 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0px 8px 8px 0;
  border: none;
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 100%);
  transition: background-color 0.3s ease;
}

/* main content */
.section-current {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 0.5fr;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  background-color: var(--section-current-bg);
}

.div-current-location-date,
.div-current-temperature,
.div-current-img,
.div-extra-weather-data,
.div-current-description,
.div-extra-information {
  padding: 1rem;
  border-radius: 4px;
  color: var(--divs-current-col);
  background-color: var(--divs-current-bg);
}

.div-current-location-date {
  grid-column: 1 / 3;
  display: grid;
  grid-template-rows: 1fr 1fr;

  gap: 1rem;
  width: 100%;
}

.resolved-address {
  font-size: 1.2rem;
  font-weight: bold;
  /* border: 5px solid red; */
}

.current-date-time {
  /* align-self: end; */
  font-size: 1.1rem;
  /* border: 1px solid red; */
}

.div-current-temperature {
  grid-column: 1 / 3;

  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  align-items: center;
}

.para-current-temp {
  align-self: end;
  justify-self: end;

  display: grid;
  grid-template-columns: auto auto;
  align-items: end;
  justify-items: end;
}

.span-current-temp {
  font-size: 5rem;
}

.span-current-temp-unit {
  font-size: 3rem;
}

.current-weather-icon {
  align-self: start;
  justify-self: start;
  filter: invert(1);
  width: 70px;
  height: 70px;
  padding-top: 0.5rem;
}

.para-current-weather-conditions {
  grid-column: 1 / 3;
  font-size: 1.4rem;
}

.div-extra-weather-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.wind-group {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  /* border: 1px solid white; */
}

.wind-description {
  width: 100%;
  /* border: 1px solid white; */
}

.current-wind {
  grid-column: 2 / 3;
  width: 100%;
  font-weight: bold;
}

.humidity-group {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.humidity-description {
  width: 100%;
}

.current-humidity {
  grid-column: 2 / 3;
  width: 100%;
  font-weight: bold;
}

.feel-temp-group {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  /* border: 1px solid white; */
}

.feelslike-description {
  width: 100%;
}

.current-feel-temp {
  grid-column: 2 / 3;
  width: 100%;
  font-weight: bold;
}

.div-current-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.div-extra-information {
  grid-column: 1 / 3;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0.5rem;
  border-radius: 4px;
}

.time-data-fetched {
  font-size: 0.9rem;
}

/* footer =========================================== */
.page-footer {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  color: var(--footer-col);
  background-color: var(--footer-bg);
}

.footer-header {
  font-size: 1rem;
}

.footer-ul {
  display: flex;
  gap: 1em;
  list-style-type: none;
}

.list-item {
  /* border: 1px solid red; */
}
.social-link {
  color: white;
  transition: color 0.3s ease;
}

.link-sololearn {
  filter: hue-rotate(0deg) saturate(1) brightness(1);
  transition: filter 1s ease;
}

.logo-sololearn {
  height: 30px;
  width: 30px;
}

@media (hover: hover) {
  .submit-btn:hover {
    cursor: pointer;
    /* background-color: hsl(219, 83%, 50%); */
    background-color: deeppink;
  }

  .input-search:hover {
    /* cursor: pointer; */
  }

  .social-link:hover {
    color: deeppink;
  }

  .link-sololearn:hover {
    filter: hue-rotate(300deg) saturate(3) brightness(1.1);
  }
}
